.App {
  text-align: left;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}

.Paper{
  white-space: pre-wrap;
  color: #ffffff;
  padding: 1px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
